<!-- <!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>User Registration Form</title>
<style type="text/css">
label {
	display: inline-block;
	width: 200px;
	margin: 5px;
	text-align: left;
}

input[type=text], input[type=email], input[type=password], select {
	display: inline-block;
	width: 200px;
}

input[type=radio] {
	margin-left: 45px;
}

input[type=checkbox] {
	margin-right: 190px;
}

button {
	padding: 5px;
	margin: 10px;
}
</style>

</head>
<body>
<div align="center">
    <div style="border-style:solid; width:500px">
        <h1>User Registration</h1>
	<form  (ngSubmit)="onSubmit()">
		<div class="form-group">
		<label for="name">First Name</label>
		<input type="text" class="form-control" id="ename" required [(ngModel)]="empmaster.ename" name="ename">
	  </div>
  
	  <div class="form-group">
		<label for="name">Phone</label>
		<input type="text" class="form-control" id="phone" required [(ngModel)]="empmaster.phone" name="phone">
	  </div>
  
	  <div class="form-group">
		<label for="name">Email Id</label>
		<input type="text" class="form-control" id="emailId" required [(ngModel)]="empmaster.emailId" name="emailId">
	  </div>
		<button  type="submit">Register</button>

	</form>
	    </div>
</div>
	
</body>
</html> -->
<div class="container">
  
	<div class="card bg-light">
	<article class="card-body mx-auto" style="max-width: 400px;">
		<h4 class="card-title mt-3 text-center">Registration Form</h4><br>
		<!-- <p>
			<a href="#" class="btn btn-block btn-twitter"> <i class="fab fa-twitter"></i>   Login via Twitter</a>
			<a href="#" class="btn btn-block btn-facebook"> <i class="fab fa-facebook-f"></i>   Login via facebook</a>
		</p> -->
		<!-- <p class="divider-text">
			<span class="bg-light">OR</span>
		</p> -->
		<form (ngSubmit)="onSubmit()">
		<div class="form-group input-group">
			<div class="input-group-prepend">
				<span class="input-group-text"> <i class="fa fa-user"></i> </span>
			 </div>
			<input class="form-control" id="ename" required [(ngModel)]="empmaster.ename" name="ename" placeholder="Full name" type="text">
		</div>
		<br> <!-- form-group// -->
		<div class="form-group input-group">
			<div class="input-group-prepend">
				<span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
			 </div><br>
			<input id="emailId" required [(ngModel)]="empmaster.emailId" name="emailId" class="form-control" placeholder="Email address" type="email">
		</div><br><!-- form-group// -->
		<div class="form-group input-group">
			<div class="input-group-prepend">
				<span class="input-group-text"> <i class="fa fa-phone"></i> </span>
			</div>
			<select class="custom-select" style="max-width: 120px;">
				<option selected="">+91</option>
				<option value="1">+001</option>
				<option value="2">+020</option>
				<option value="3">+011</option>
			</select>
			<input name="" class="form-control" id="phone" required [(ngModel)]="empmaster.phone" name="phone" placeholder="Phone number" type="text">
		</div><br><!-- form-group// -->
		<div class="form-group input-group">
			<div class="input-group-prepend">
				<span class="input-group-text"> <i class="fa fa-building"></i> </span>
			</div><br>
			<select class="form-control">
				<option selected=""> Select job type</option>
				<option>Web Developer</option>
				<option>Full Stack Developer</option>
				<option>Mean Stack</option>
			</select>
		</div><br> <!-- form-group end.// -->
		<div class="form-group input-group">
			<div class="input-group-prepend">
				<span class="input-group-text"> <i class="fa fa-lock"></i> </span>
			</div><br>
			<input class="form-control"  placeholder="Create password" type="password">
		</div><br> <!-- form-group// -->
		<div class="form-group input-group">
			<div class="input-group-prepend">
				<span class="input-group-text"> <i class="fa fa-lock"></i> </span>
			</div><br>
			<input class="form-control" placeholder="Repeat password" type="password">
		</div> <!-- form-group// -->                                      
		<div class="form-group">
			<button type="submit" class="btn btn-primary btn-block"> register  </button>
		</div><!-- form-group// -->      
		<p class="text-center"> <a  [routerLink]="['/']">Log In</a> </p>                                                                 
	</form>
	</article>
	</div> <!-- card.// -->
	
	</div> 
	<!--container end.//-->